PORT=5000
NODE_ENV=development

MONGODB_URI="mongodb://kanitaabeera123_db_user:bdaFZ21acEosMUYy@ac-4a0qb5g-shard-00-00.ttdklws.mongodb.net:27017,ac-4a0qb5g-shard-00-01.ttdklws.mongodb.net:27017,ac-4a0qb5g-shard-00-02.ttdklws.mongodb.net:27017/?ssl=true&replicaSet=atlas-bj0xwl-shard-0&authSource=admin&appName=Cluster0"
SECRET_KEY="linkaro_super_secret_jwt_key_2025"
CRON_SECRET="linkaro_cron_secret_key_2025"

EMAIL=linkaro.support@gmail.com
BREVO_API_KEY=
